section {
  max-width: 75rem;
  margin: 6rem auto;
  padding: 2rem;
  text-align: center;
  border: 2px solid #a55ae3;
  border-radius: 4px;
  background: linear-gradient(#23053f, #5e2775);
  box-shadow: 0 0 16px 2px #f44fa2;
}

section header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

section h2 {
  font-size: 2.4rem;
  color: #d6d1dd;
  margin: 1rem;
}

section img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

section p {
  color: #c3b1dc;
}
