div {
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

button {
  width: 100%;
  min-width: 10rem;

  display: flex;
  align-items: center;
  text-align: left;
  gap: 0.5rem;

  color: #c3b3d1;
  padding: 0.35rem 0.5rem;
  background-color: #433352;
}

button:hover,
button:active,
.active {
  background-color: #9965dd;
  color: #150722;
}

img {
  width: 2rem;
  object-fit: contain;
  border-radius: 50%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

span {
  margin: 0;
  padding: 0;
}
