<app-header />

<main>
  <ul id="users">
    <li *ngFor="let user of users">
      <app-user
        [user]="user"
        [selected]="user.id === selectedUserId"
        (select)="onSelectUser($event)"
      />
    </li>

    <!-- 🟡 new 🟡 -->
    <!-- @for(user of users; track user.id) {
      <li>
          <app-user
            [user]="user"
            [id]="user.id"
            (select)="onSelectUser($event)"
          ></app-user>
      </li>
    } -->

    <!-- <li>
      <app-user
        [id]="users[0].id"
        [avatar]="users[0].avatar"
        [name]="users[0].name"
        (select)="onSelectUser($event)"
      />
    </li>
    <li>
      <app-user
        [id]="users[1].id"
        [avatar]="users[1].avatar"
        [name]="users[1].name"
        (select)="onSelectUser($event)"
      />
    </li>
    <li>
      <app-user
        [id]="users[2].id"
        [avatar]="users[2].avatar"
        [name]="users[2].name"
        (select)="onSelectUser($event)"
      />
    </li>
    <li>
      <app-user
        [id]="users[3].id"
        [avatar]="users[3].avatar"
        [name]="users[3].name"
        (select)="onSelectUser($event)"
      />
    </li>
    <li>
      <app-user
        [id]="users[4].id"
        [avatar]="users[4].avatar"
        [name]="users[4].name"
        (select)="onSelectUser($event)"
      />
    </li>
    <li>
      <app-user
        [id]="users[5].id"
        [avatar]="users[5].avatar"
        [name]="users[5].name"
        (select)="onSelectUser($event)"
      />
    </li> -->
  </ul>

  <app-tasks
    *ngIf="selectedUser; else fallback"
    [name]="selectedUser.name"
    [userId]="selectedUser.id"
  />
  <ng-template #fallback>
    <p id="fallback">Select a user to see their tasks!</p>
  </ng-template>

  <!-- 🟡 new 🟡 -->
  <!-- @if (selectedUser) {
      <app-tasks [name]="selectedUser.name" />
    } @else {
      <p id="fallback">Select a user to see their tasks!</p>
  } -->
  <!-- <app-tasks [name]="selectedUser.name" /> -->
</main>
