<div
  [class]="{
    status: true,
    'status-online': currentStatus === 'online',
    'status-offline': currentStatus === 'offline',
    'status-unknown': currentStatus === 'unknown'
  }"
>
  @if (currentStatus === 'online') {
    <p>Servers are online</p>
    <p>All systems are operational.</p>
  } @else if (currentStatus === 'offline') {
    <p>Servers are offline</p>
    <p>Functionality should be restored soon.</p>
  } @else {
    <p>Server status is unknown</p>
    <p>Fetching server status failed.</p>
  }
</div>

<!-- 
  [class.status]="currentStatus === 'online'"
  [class.expanded]="isExpanded"

  [style.fontSize]="'10px'"
  [style.height]="(dataPoint.value / maxTraffic) * 100 + '%'"
  [style.display]="isExpanded ? 'block' : 'none'"

  [style]="{
    'font-size': '64px',
    backgroundColor: 'red'
  }"
-->
