<div class="container">
  <button class="btn" (click)="onlyOdd = !onlyOdd">
    Only show odd numbers
  </button>

  <ul class="list">
    <div class="list-item" *ngIf="!onlyOdd">
      <li *ngFor="let number of evenNumbers">
        {{ number }}
      </li>
    </div>
    <div class="list-item" *ngIf="onlyOdd">
      <li
        *ngFor="let number of oddNumbers"
        [ngClass]="{ odd: number % 2 !== 0 }"
        [ngStyle]="{ backgroundColor: number % 2 !== 0 ? 'black' : 'red' }"
      >
        {{ number }}
      </li>
    </div>
  </ul>

  <p appBasicHighlight>Style me with a basic attribute directive</p>
  <p appBetterHighlight>Style me with a better attribute directive</p>
  <!-- <ng-template [ngIf]="onlyOdd">
    <p>Only odd</p>
  </ng-template> -->
</div>
