<div class="box">
  <label>Server Name</label>
  <input type="text" [(ngModel)]="newName" />
  <input type="text" #newName2 />

  <label>Server Content</label>
  <input type="text" [(ngModel)]="newContent" />

  <button class="btn" (click)="onAddServer()">Add Server</button>
  <button class="btn" (click)="onAddServer2(newName2)">Add Server 2</button>
  <button class="btn" (click)="onAddBlueprint()">Add Server Blueprint</button>
</div>


<!-- 
🟥
🟥🟥 Template Reference Variables

    → Bu değişkenleri ilgili HTML şablonunun istenildiği yerinde kullanılabilir fakat TypeScript tarafında kullanılamaz.

-->