.container {
  width: 70%;
  margin: 4rem auto;
}

.title {
  width: 70%;
  font-size: 2.3rem;
  text-align: center;
  margin: 0.5rem auto;
  color: #fff;
  background: linear-gradient(to right, #243949 0%, #517fa4 100%);
}