<!-- 🔴 Define a data model -->
<!-- 🔴 Build an Angular form with a component and template -->
<!-- 🔴 Include required infrastructure such as the 'FormsModule' -->

<!-- <form (ngSubmit)="onSubmit(actorForm)" #actorForm> -->
<!-- <form (ngSubmit)="onSubmit(actorForm)" #actorForm="ngForm"> -->
<form (ngSubmit)="onSubmit()" #actorForm="ngForm">
  <label for="name">Name</label>
  <input
    type="text"
    id="name"
    name="name"
    [(ngModel)]="model.name"
    #nameCtrl="ngModel"
    required
    minlength="6"
  />

  <label for="studio">Studio</label>
  <input
    type="text"
    id="studio"
    name="studio"
    [(ngModel)]="model.studio"
    #studioCtrl="ngModel"
    required
    minlength="4"
  />

  <label for="skill">Skill</label>
  <select
    id="skill"
    name="skill"
    [(ngModel)]="model.skill"
    #skillCtrl="ngModel"
    required
  >
    <option *ngFor="let skill of skills" [value]="skill">{{ skill }}</option>
  </select>

  <button type="submit" class="btn">New Actor</button>
</form>

<button (click)="test()" type="submit" class="btn">TEST</button>

<!-- @if (actorForm.form.invalid) {}
@if (actorForm.form.controls['name']) {} -->
@if (nameCtrl.touched && nameCtrl.dirty && nameCtrl.invalid) {
  <p class="control-error">Invalid (name) values detected. Please check your input.</p>
}
@if (studioCtrl.touched && studioCtrl.dirty && studioCtrl.invalid) {
  <p class="control-error">Invalid (studio) values detected. Please check your input.</p>
}
@if (skillCtrl.touched && skillCtrl.dirty && skillCtrl.invalid) {
  <p class="control-error">Invalid (skill) values detected. Please check your input.</p>
}

<!-- 
  🔵 Template Variables
    . Template Variable'lar, şablonun bir bölümündeki verileri şablonun başka bir bölümünde kullanmanıza yardımcı olur.
    . Şablonda, bir 'template variable' bildirebilmek için # (kare-hashtag-diyez) sembolünü kullanırsınız. (#phone #name #form)

      <form (ngSubmit)="onSubmit(actorForm)" #actorForm>

  🔵 Using 'NgForm' with template variables
    . FormsModule'u import ettiğiniz anda, NgForm directive'i tüm <form> tag'lerinde varsayılan olarak etkin hale gelir.
    . ngForm attribute değeri olmadan, actorForm'un referans değeri HTMLFormElement, <form> olur.
    . ngForm attribute değeri ilgili formun Angular tarafından oluşturulan JavaScript nesnesine ulaşılabilmesine olanak sağlar.

      <form (ngSubmit)="onSubmit(actorForm)" #actorForm="ngForm">

    . ngForm bizi FormGroup class'ına götürür.
    . 🔴 → notes → 2-) Fundamental & Concepts.ts → 3-) Template Driven Forms.ts


    #nameCtrl           → DOM elementine erişim sağlar
    #nameCtrl="ngModel" → Angular tarafından oluşturulan control nesnesine erişim sağlar
 -->
