section {
  max-width: 85rem;
  margin: 2rem auto;
  padding: 1rem;
  border: 2px solid #0d373e;
  border-radius: 8px;
}

section h2 {
  color: #8feeff;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
